<div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right" >
                        <figure>
                            <img src="images/im.jpg" alt="ak" class="img-fluid" title="about me"> 
                            <!-- <svg viewBox="0 0 8 8"><use xlink:href="#person"></use></svg>
                            <img src="/open-iconic/svg/person.svg"> -->
                            <!-- <img src="/open-iconic/svg/person.svg" alt="icon name"> -->
                        </figure>
                    </div>
                    <!--left div-->
                    <div class="col-md-6 col-12 main_header_left" >
                        <p>Abhinav Kaushik</p>
                        <h1>I am a Web Developer and a Competetive Programmer</h1>
                        <!-- <button ><a href="/weather">Check now</a></button> -->
                    </div>
                    <!--right div-->
                    
                </div>
            </div>
        </div>
    </div>