<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>
        {{>navbar}}


    <!--main header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-8 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right" >
                        <figure>
                            <img src="images/im.jpeg" alt="ak" class="img-fluid" title="about me" > 
                            <!-- <svg viewBox="0 0 8 8"><use xlink:href="#person"></use></svg>
                            <img src="/open-iconic/svg/person.svg"> -->
                            <!-- <img src="/open-iconic/svg/person.svg" alt="icon name"> -->
                        </figure>
                    </div>
                    <!--left div-->
                    <div class="col-md-6 col-12 main_header_left" >
                        <p class="abtp">Abhinav Kaushik</p>
                        <h1 class="abth">I am currently a student at J.C. Bose University of Science and Technology and I am a <span class="abtspn"> Web Developer</span> and a <span class="abtspn">Competetive Programmer.</span></h1>
                        <!-- <button ><a href="/weather">Check now</a></button> -->
                    </div>
                    <!--right div-->
                    
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->

    <footer>
        <p>By Abhinav Kaushik</p>
    </footer>


</body>
</html>